@model MayTinh.Models.PaginationSet<MayTinh.Data.Product>
@{
    ViewData["Title"] = "Danh mục sản phẩm";
    var ListCate = (List<MayTinh.Data.Category>)ViewBag.ListCate;
    var cate = (MayTinh.Data.Category)ViewBag.category;
}

<div class="shop-page-title category-page-title page-title ">

    <div class="page-title-inner flex-row  medium-flex-wrap container">
        <div class="flex-col flex-grow medium-text-center">
            <div class="is-large">
                <nav class="woocommerce-breadcrumb breadcrumbs uppercase"><a href="/">Trang chủ</a> <span class="divider">&#47;</span>@cate.Name</nav>
            </div>
        </div><!-- .flex-left -->

        <div class="flex-col medium-text-center">

            <p class="woocommerce-result-count hide-for-medium">
                Showing all 5 results
            </p>
            <div class="row div-product-cat large-columns-2 medium-columns- small-columns- row-xsmall">
            </div><form class="woocommerce-ordering" method="get">
                <select name="orderby" class="orderby" aria-label="Đơn hàng của cửa hàng">
                    <option value="menu_order" selected='selected'>Thứ tự mặc định</option>
                    <option value="date">Mới nhất</option>
                    <option value="price">Thứ tự theo giá: thấp đến cao</option>
                    <option value="price-desc">Thứ tự theo giá: cao xuống thấp</option>
                </select>
                <input type="hidden" name="paged" value="1" />
            </form>
        </div><!-- .flex-right -->

    </div><!-- flex-row -->
</div><!-- .page-title -->

<main id="main" class="">
    <div class="row category-page-row">
        <div class="col large-12">
            <div class="shop-container">
                <div class="woocommerce-notices-wrapper"></div><div class="products row row-small large-columns-4 medium-columns-3 small-columns-2">
    @if (Model.Items.Count() > 0)
    {
        foreach (var item in Model.Items)
        {
            <div class="product-small col has-hover product type-product post-308 status-publish instock product_cat-dong-ho-nam has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                <div class="col-inner">
                    @if (item.PriceDiscount > 0 && item.Price > 0)
                    {
                        <div class="badge-container absolute left top z-1">
                            <div class="callout badge badge-circle"><div class="badge-inner secondary on-sale"><span class="onsale">-@(Math.Floor(Convert.ToDecimal(item.Price / item.PriceDiscount - 1) * 100))%</span></div></div>
                        </div>
                    }
                    <div class="product-small box ">
                        <div class="box-image">
                            <div class="image-fade_in_back">
                                <a href="/san-pham/@item.Url/@item.Id">
                                    <img width="300" height="300" src="@item.Logo" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="@item.Name" sizes="(max-width: 300px) 100vw, 300px" /><img width="300" height="300" src="@item.Logo" class="show-on-hover absolute fill hide-for-small back-image" alt="@item.Name" sizes="(max-width: 300px) 100vw, 300px" />
                                </a>
                            </div>
                            <div class="image-tools is-small top right show-on-hover">
                            </div>
                            <div class="image-tools is-small hide-for-small bottom left show-on-hover">
                            </div>
                            <div class="image-tools grid-tools text-center hide-for-small bottom hover-slide-in show-on-hover">
                            </div>
                        </div><!-- box-image -->

                        <div class="box-text box-text-products text-center grid-style-2">
                            <div class="title-wrapper"><p class="name product-title"><a href="/san-pham/@item.Url/@item.Id">@item.Name</a></p></div><div class="price-wrapper">
                                @if (item.PriceDiscount > 0 && item.Price > 0)
                                {
                                    <span class="price"><del><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></del> <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.PriceDiscount).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins></span>

                                }
                                else if (item.Price > 0)
                                {
                                    <span class="price">
                                        <ins><span class="woocommerce-Price-amount amount">@Convert.ToDecimal(item.Price).ToString("N0")&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
                                    </span>
                                }
                                else
                                {
                                    <span class="price">
                                        <del>
                                        </del> <ins><span class="woocommerce-Price-amount amount">Liên hệ&nbsp;<span class="woocommerce-Price-currencySymbol">&#8363;</span></span></ins>
                                    </span>
                                }
                            </div>
                        </div><!-- box-text -->
                    </div><!-- box -->
                </div><!-- .col-inner -->
            </div><!-- col -->

        }
    }
    else
    {
        <div class="flex-col medium-text-center">

            <p class="woocommerce-result-count hide-for-medium">
                Không có sản phẩm nào
            </p>
        </div>
    }

    @if (Model.TotalPages > 1)
    {
        // Create numeric links
        var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
        var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

        <nav>
            <ul class="pagination">
                @if (Model.Page > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=1" aria-label="First">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@(Model.Page-1)" aria-label="Previous">
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                }
                @for (int i = startPageIndex; i <= endPageIndex; i++)
                {
                    if (Model.Page == i)
                    {
                        <li class="active page-item"><a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@i" title="Trang @i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@i" title="Trang @i">@i</a></li>
                    }
                }
                @if (Model.Page < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@(Model.Page+1)" aria-label="Next">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?sort=@Model.Sort&pageSize=@Model.PageSize&page=@Model.TotalPages" aria-label="Last">
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
</div><!-- row --><div class="page-load-status">
                    <div class="loader-spinner infinite-scroll-request text-center">
                        <div class="loading-spin"></div>
                    </div>
                </div>

            </div><!-- shop container -->
        </div><!-- .large-12  -->
    </div><!-- .row -->

</main><!-- #main -->
